<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="wrapper">
      <div class="main-side-content">
        <div class="main-content">
          <main class="page-content" aria-label="Content">
            {{ content }}
          </main>    
        </div>
        <div class="side-content">
          {%- include categories-list.html -%}
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
